apiVersion: apps/v1
kind: Deployment
metadata:
  name: bun-k8s-demo
  labels:
    app: bun-k8s-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: bun-k8s-demo
  template:
    metadata:
      labels:
        app: bun-k8s-demo
    spec:
      containers:
      - name: bun-k8s-demo
        image: 176545285424.dkr.ecr.eu-north-1.amazonaws.com/bun-k8s-demo:latest
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          value: "3000"
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
